body { 
	display: flex;
	flex-direction: column;
	background-color: rgb(235, 225, 225);
}

p {
	margin-bottom: 5%;
}

.center-box {
	align-items: center;
	background-color: rgb(235, 225, 225);
	justify-content: center;
}

.container-main {
	text-align: center;
	justify-content: center;
	display: inline-flex;
	overflow: auto;
}

.header {
	text-align: left;
}

.icon-image {
	bottom: 0;
	padding: 10px;
	height: 70%;
	margin: 0;
}

.icon-row {
	justify-content: center;
	height: 5%;
}

.image-language { 
	position: absolute;
	height: 20%;
	justify-content: center;
	bottom: 0;
}

.flex-email {
	flex: 40%;
	font-size: 80%;
	padding: 10px; 
}

.flex-name {
	flex: 60%;
	font-size: 120%;
}

.link-row { 
	height: 10%;
}

.main-text {
	text-align: justify;
	font-size: 70%;
}

.personal-photo {
	height: 100%;
}

.photo-box {
	margin-top: 1%;
	margin-bottom: 1%;
	height: 12%;
}

.projects-box {
	display: flex;
	flex-wrap: wrap;
}

.division-column1, .division-column2, .division-column3 {
	width: 33%;
	position: relative;
	padding-bottom: 5%;
}

.project-description {
	font-size: 60%;
	text-align: justify;
	justify-content: center;
	padding: 5%;
}

.side-box {
	background-color: rgb(235, 225, 225);
	margin: 0;
}

@media (max-width: 800px) {
  .flex-name, .flex-email, .division-column1, .division-column2, .division-column3 {
    flex: 100%;
  }
}